/* @theme tum */

/** https://github.com/marp-team/marp-core/blob/main/themes/README.md */

@import 'default';
@import url('https://fonts.googleapis.com/css3?family=Montserrat:ital@1&display=swap');

section {
  background-color: #393C41;
  font-family: 'Montserrat', sans-serif;
  /* background-image: url('images/background.png'); */
  color: #FCFDF2;
  background-repeat: no-repeat;
  background-position: right 16px top 16px;
  background-size: 8%;
}

section.lead {
  /* background-image: url('images/profile_up_minify.png'); */
  background-position: right;
  background-size: 45%;
}

section h1,
section a,
section footer,
section::after {
  color: #FCFDF2;
}

section.invert {
  background-color: #393C41;
  color: #FCFDF2;
  background-image: url('images/techtrain-logo.jpg');
}

section.lead.invert {
  background-image: url('images/techtrain-logo.png');
}

footer {
  position: absolute;
}

section.invert h1,
section.invert footer,
section.invert::after {
  color: #FCFDF2;
}

section.invert a {
  color: #4DD0E1;
}

/* Add "Page" prefix and total page number */
section::after {
  /* content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total); */
  background-image: url('images/x-url.png');
  background-size: 8%;
}
