/* @theme tum */

/** https://github.com/marp-team/marp-core/blob/main/themes/README.md */

@import 'default';

section {
  background-color: #393C41;
  /* background-image: url('images/background.png'); */
  color: #FCFDF2;
  background-repeat: no-repeat;
  background-position: right 16px top 16px;
  background-size: 8%;
}

section.lead {
  /* background-image: url('images/profile_up_minify.png'); */
  background-position: right;
  background-size: 45%;
}

section h1,
section a,
section footer,
section::after {
  color: #FCFDF2;
}

section.invert {
  background-color: #393C41;
  color: #FCFDF2;
  background-image: url('images/techtrain-logo.jpg');
}

section.lead.invert {
  background-image: url('images/techtrain-logo.png');
}

section.invert h1,
section.invert footer,
section.invert::after {
  color: #FCFDF2;
}

section.invert a {
  color: #e37222;
}

/* Add "Page" prefix and total page number */
section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}
